body {
  background-color: #fafafa;
}
* {
  font-family: Poppins, sans-serif;
}

.text-purple {
  color: var(--purple);
}
.bg-purple {
  color: var(--purple);
}

.text-yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}

.btn-yellow {
  color: var(--black);
  background-color: var(--yellow);
  border: solid 2px var(--yellow);
}
.btn-yellow:hover {
  border: solid 2px var(--yellow);
  background-color: var(--yellow);
}

.btn-purple {
  color: var(--purple);
  background-color: var(--light-purple);
  border: solid 2px var(--light-purple);
}

.btn {
  border-radius: 1rem !important;
  text-align: center;
  font-weight: 600;
  padding: 1rem 1.25rem;
}
.container > section,
.container > div {
  margin-bottom: 144px;
}

.dropdown button,
.dropdown button:hover,
.dropdown button:focus {
  background-color: var(--light-gray);
  color: gray;
  border: none;
}
