:root {
  --black: black;
  --yellow: #fdc886;
  --purple: #5a4fcf;
  --light-purple: #eae9f6;
}
body {
  background-color: #f2f2f2;
}
* {
  font-family: Poppins, sans-serif;
}

.text-purple {
  color: var(--purple);
}
.bg-purple {
  color: var(--purple);
}

.text-yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}
