body {
  background-color: #f2f2f2;
}
* {
  font-family: Poppins, sans-serif;
}

.text-purple {
  color: var(--purple);
}
.bg-purple {
  color: var(--purple);
}

.text-yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}

.btn-yellow {
  color: var(--black);
  background-color: var(--yellow);
}

button.btn {
  border-radius: 0.5rem !important;
  border: solid 2px var(--yellow);
  text-align: center;
  font-weight: 600;
  padding: 1rem 1.25rem;
}
button.btn-yellow:hover {
  border: solid 2px var(--yellow);
  background-color: var(--yellow);
}

.container > section,
.container > div {
  margin-bottom: 144px;
}
