/* NAVBAR */

.navbar-nav {
  width: 400px;
  justify-content: space-between;
}
.navbar-nav li a.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.125rem;
  text-decoration-color: var(--purple);
}
.navbar-nav li a {
  color: var(--black);
}

.navbar-center {
  display: flex;
}
.navbar-center img {
  object-fit: contain;
}
.navbar-center a {
  font-weight: bold;
}

.navbar .search-logo {
  position: relative;
  top: 12.5px;
  left: 35px;
  width: 20px;
  height: 20px;
  background-image: url("/image/Search.png");
  background-size: cover;
}
.navbar .search-box {
  width: 280px;
  border: none;
}
.navbar .btn-login {
  border-radius: 0.5rem !important;
}

/* BANNER */
.banner {
  margin: 12.5rem;
  margin-bottom: 5rem;
}
.banner > .row {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.banner > .row::-webkit-scrollbar {
  display: none;
}
.banner-item {
  position: relative;
  height: 35vmax;
  width: 85%;
}
.banner-item-slide {
  position: absolute;
  background-size: cover;
  background-position: center;
}
.banner-item:not(.active) .card-banner {
  display: none;
}

.banner-item:first-child .banner-item-slide {
  background-image: url(/image/place/image\ 4.png);
}
.banner-item:nth-child(2) .banner-item-slide {
  background-image: url(/image/place/image\ 4_1.png);
}
.card-banner {
  position: absolute;
  width: 320px;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  z-index: 2;
}

/* BENEFIT */

.card-img-top {
  object-fit: contain;
}

/* FEATURED */

.featured-slide .col {
  background-size: cover;
  height: 500px;
  background-position: center;
}

.featured-slide .col:first-child {
  background-image: url(/image/place/image\ 5.png);
}
.featured-slide .col:nth-child(2) {
  background-image: url(/image/place/image\ 6.png);
}
.featured-slide .col:nth-child(3) {
  background-image: url(/image/place/image\ 6_2.png);
}

/* RESTAURANT */
.restaurant-body .row > .col .card-restaurant {
  background-size: cover;
  height: 450px;
  background-position: center;
}

.restaurant-body .row > .col:first-child .card-restaurant {
  background-image: url(/image/place/image\ 8_1.png);
}
.restaurant-body .row > .col:nth-child(2) .card-restaurant {
  background-image: url(/image/place/image\ 7.png);
}
.restaurant-body .row > .col:nth-child(3) .card-restaurant {
  background-image: url(/image/place/image\ 7_1.png);
}

/* CHEF */
.chef-detail {
  position: relative;
}
.chef-detail-portrait {
  width: 90%;
}
.chef-detail .chef-detail-portrait-image {
  background-image: url(/image/chef.png);
  background-size: cover;
  transform: scaleX(-1);
}

.chef-detail-restaurant {
  position: absolute;
  z-index: 1;
  height: 25%;
  left: -10%;
  bottom: 5%;
  width: 55%;
}
.chef-detail-restaurant-img {
  background-image: url(/image/place/image\ 6_1.png);
  background-size: cover;
}

.chef-detail-experience {
  position: absolute;
  z-index: 1;
  height: 30%;
  right: 0;
  top: 5%;
  width: 30%;
}
.chef-detail-experience img {
  object-fit: contain;
  object-position: center;
}

.chef-list-body ul li .name {
  font-size: 1.25rem;
}
.chef-list-body ul > li.active .card-chef {
  background-color: white;
}
