/* NAVBAR */

.navbar-nav {
  width: 400px;
  justify-content: space-between;
}
.navbar-nav li a.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.125rem;
  text-decoration-color: var(--purple);
}
.navbar-nav li a {
  color: var(--black);
}

.navbar-center {
  display: flex;
}
.navbar-center img {
  object-fit: contain;
}
.navbar-center a {
  font-weight: bold;
}

.navbar .search-logo {
  position: relative;
  top: 7.5px;
  left: 35px;
  width: 20px;
  height: 20px;
  background-image: url("/image/Search.png");
  background-size: cover;
}
.navbar .search-box {
  width: 280px;
  border: none;
}
.btn-login {
  color: var(--purple);
  background-color: var(--light-purple);
  font-weight: bolder;
}

/* BENEFIT */

.card-img-top {
  object-fit: contain;
}

/* FEATURED */

.featured-slide .col {
  background-size: cover;
  height: 500px;
  background-position: center;
}

.featured-slide .col:first-child {
  background-image: url(/image/place/image\ 5.png);
}
.featured-slide .col:nth-child(2) {
  background-image: url(/image/place/image\ 6.png);
}
.featured-slide .col:nth-child(3) {
  background-image: url(/image/place/image\ 6_2.png);
}
